.navbar {
    background-color: #000000 !important;
    position: fixed top;
    width: 100%;
}

.navbar h1 {
    font-family: 'Cinzel', serif;
    font-size: 20px;

}

.hero__section {
    
    background-image: url(../img/fotoyo.jpg);
    background-repeat:no-repeat;
    background-position: top center;
    background-size:cover ;
    width: 100vw;
    height: 100vh;
}

h4 {
    color: #ffffff;
    font-family: 'Cinzel', serif;
    font-size: 30px;
}

header h1 {
    text-align: center;
    color: #ffffff;
    margin: 80px;
}

header h2 {
    text-align: center;
    color: #ffffff;
}

.acerca {
    text-align: center;
    display: none;
    color: #ffffff;
    background-color: black;
    width: 100vw;
}

.acerca h3 {
    margin: 40px;
    font-family: 'Cinzel', serif;

}

.acerca p {
    margin: 10px 30px 40px 50px;
}

.tarjetero {
    background-image: url(../img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    padding-top: 30px;
}

.titulo {
    text-align: center;
}

.card {
    background-color: black;
    color: #ffffff;
}

.card h5 {
    font-family: 'cinzel', 'serif';
    text-align: center;
}

.card p {
    text-align: center;
    font-size: 15px;
}

.experiencia {
    background-color: black;
    color: #ffffff;
    
}

.jumbotron {
    background-color: black;
    text-align: center;
    color: #ffffff;
    font-family: 'cinzel','serif';
}

.jumbotron h4 {
    font-size: 30px;
}

footer {
    background-image: url(../img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;

}

@media (min-width: 200px) {

    
}

@media (min-width: 768px) { 

    .acerca {
        display: inline-block;
    }
}

@media (min-width: 992px) {

    .acerca {
        display: inline-block;
    }
}

@media (min-width: 1200px) {

    .acerca {
        display: inline-block;
    }

}
