.navbar {
    background-color: #000000 !important;
    position: fixed top;
    width: 100%;
}

.hero__section {
    
    background-image: url(../img/fotoyo.jpg);
    background-repeat:no-repeat;
    background-position: top center;
    background-size:cover ;
    width: 100vw;
    height: 100vh;
}

header h1 {
    text-align: center;
    color: #ffffff;
    margin: 80px;
}

header h2 {
    text-align: center;
    color: #ffffff;
}

.acerca {
    text-align: center;
    display: none;
    color: #ffffff;
    background-color: black;
    width: 100vw;
}

@media (min-width: 200px) {

    
}

@media (min-width: 768px) { 

    .acerca {
        display: inline-block;
    }
}

@media (min-width: 992px) {

    .acerca {
        display: inline-block;
    }
}

@media (min-width: 1200px) {

    .acerca {
        display: inline-block;
    }

}
